apiVersion: v2
name: operations
description: A Helm chart for Kubernetes
type: application
version: 0.1.0
appVersion: 1.0.0

dependencies:
- name: prometheus
  repository: https://prometheus-community.github.io/helm-charts
  version: 13.5.0

- name: grafana
  repository: https://grafana.github.io/helm-charts
  version: 6.5.0

