ph-ee-engine:  
  zeebe:
    broker:
      contactpoint: "zeebe-zeebe-gateway:26500"
  zeebe-cluster-helm:
    global:
      elasticsearch:
        host: "ph-ee-elasticsearch"
    image:
      repository: camunda/zeebe
      tag: 1.1.0

    clusterSize: "1"
    partitionCount: "1"
    replicationFactor: "1"
    
    elasticsearch:
      enabled: false
    kibana:
      enabled: false

    extraInitContainers: |
      - name: init-ph-ee-kafka-exporter
        image: busybox:1.28
        command: ['/bin/sh', '-c']
        args: ['wget -O /exporters/ph-ee-kafka-exporter.jar "https://paymenthub-ee-dev.s3.us-east-2.amazonaws.com/jars/exporter-1.0.0-SNAPSHOT.jar"; ls -al /exporters/']
        volumeMounts:
        - name: exporters
          mountPath: /exporters/

  zeebe-operate-helm:
    enabled: false
    image:
      repository: camunda/operate
      tag: 1.1.0
    global:
      elasticsearch:
        host: "ph-ee-elasticsearch"
        clusterName: "ph-ee-elasticsearch"
    ingress:
      enabled: true
      className: "nginx"  
      path: /
      host: ph-zeebe.qa.oneacrefund.org
      tls:
        enabled: true
        secretName: oafqa-tls

  kibana:
    enabled: true
    imageTag: 7.16.3
    ingress:
      enabled: true
      className: "nginx"
      pathtype: ImplementationSpecific
      hosts:
        - host: ph-kibana.qa.oneacrefund.org
          paths:
            - path: /
      tls: 
        - secretName: oafqa-tls
          hosts:
            - "*.qa.oneacrefund.org"
    kibanaConfig:
      kibana.yml: |
        monitoring.enabled: false
        

  elasticsearch:
    enabled: true
    replicas: 1
    imageTag: 7.16.3
    minimumMasterNodes: 1

    #Single Node Solution
    clusterHealthCheckParams: "wait_for_status=yellow&timeout=100s" 
    master:
      readinessProbe:
        httpGet:
          path: /_cluster/health?wait_for_status=yellow&timeout=5s
          port: 9200
        initialDelaySeconds: 30
    data:
      readinessProbe:
        httpGet:
          path: /_cluster/health?wait_for_status=yellow&timeout=5s
          port: 9200
        initialDelaySeconds: 30


    # Shrink default JVM heap.
    esJavaOpts: "-Xmx512m -Xms512m"

    # Allocate smaller chunks of memory per pod.
    resources:
      requests:
        cpu: "100m"
        memory: "512M"
      limits:
        cpu: "1000m"
        memory: "1024M"
    volumeClaimTemplate:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: "oaf-storage"
      resources:
        requests:
          storage: 10Gi

  operations:
    enabled: true

  kafka:
    enabled: true
    image: "spotify/kafka"
    advertised:
      host: "kafka"
      port: "9092"
    deployment:
      annotations: 
        deployTime: "{{ .Values.deployTime }}"

  operationsmysql:
    fullnameOverride: "operationsmysql"
    image:
      tag: "5.7"
      debug: false
    auth:
      database: "tenants"
      username: "mifos"
      password: "password"
      rootPassword: "4ET6ywqlGt"
    initdbScripts:
      setup.sql: |-
        CREATE DATABASE IF NOT EXISTS oaf;
        CREATE DATABASE IF NOT EXISTS messagegateway;
        GRANT ALL ON *.* TO 'root'@'%';
        GRANT ALL PRIVILEGES ON messagegateway.* TO 'mifos';
        GRANT ALL PRIVILEGES ON oaf.* TO 'mifos';

  channel:
    enabled: true
    DFSPIDS: "oaf"
    transaction_id_length: 20
    SPRING_PROFILES_ACTIVE: "bb"
    LOGGING_LEVEL_ROOT: "INFO"
    hostname: "paymenthub.qa.oneacrefund.org"
    AWS_ACCESS_KEY: "xxx"
    AWS_SECRET_KEY: "xxx"
    image: "oaftech.azurecr.io/phee-ns/ph-ee-connector-channel"
    ingress:
      annotations: 
        kubernetes.io/ingress.class: "kong"
        konghq.com/strip-path: "true"
      backend:
        service:
          name: ph-ee-connector-channel
          port:
            number: 80
    deployment:
      annotations:
        co.elastic.logs/enabled: "true"
        deployTime: "{{ .Values.deployTime }}"
    ams:
      groups:
        - identifier: "ACCOUNTID"
          value: "paygops"
        - identifier: "FOUNDATIONALID"
          value: "roster"


  operations_app:
    tenants: "oaf"
    SPRING_PROFILES_ACTIVE: "bb"
    hostname: "paymenthub.qa.oneacrefund.org"
    image: "oaftech.azurecr.io/phee-ns/ph-ee-operations-app"
    datasource:
      username: "mifos"
      password: "password"
      host: "operationsmysql"
      port: 3306
      schema: "tenants"
    LOGGING_LEVEL_ROOT: "INFO"
    ingress:
      enabled: true
      annotations: 
        kubernetes.io/ingress.class: "kong"
        konghq.com/strip-path: "true"
      backend:
        service:
          name: ph-ee-operations-app
          port:
            number: 80
    deployment:
      annotations:
        co.elastic.logs/enabled: "true"
        deployTime: "{{ .Values.deployTime }}"

  operations_web:
    SPRING_PROFILES_ACTIVE: "bb"
    hostname: "ph-web.qa.oneacrefund.org"
    webhost: "ph-web.qa.oneacrefund.org"
    path: "/"
    image: "oaftech.azurecr.io/phee-ns/ops-web"
    ingress:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: "nginx"
      backend:
        service:
          name: ph-ee-operations-web
          port:
            number: 4200
    deployment:
      annotations:
        co.elastic.logs/enabled: "true"

  identity:
    hostname: "ops-bk.ibank.financial"
    ingress:
      annotations: 
        kubernetes.io/ingress.class: "kong"
        konghq.com/strip-path: "true"

  mpesa:
    tenant: "oaf"
    enabled: true
    SPRING_PROFILES_ACTIVE: "bb"
    hostname: "paymenthub.qa.oneacrefund.org"
    image: "oaftech.azurecr.io/phee-ns/ph-ee-connector-mpesa"
    zeebe_broker_contactpoint: "zeebe-zeebe-gateway:26500"
    callback_host: "https://paymenthub.qa.oneacrefund.org/mpesa"
    retry_count: 3
    accounts:
      roster:
        name: "roster"
        business_short_code: "7385028"
        till: "1234567"
        auth_host: "https://sandbox.safaricom.co.ke/oauth/v1/generate"
        api_host: "https://sandbox.safaricom.co.ke"
        client_key: "0pLxbN83FrOl5Nd0Fh9Zi5BQlMxSL2n5"
        client_secret: "YzuGNoJxeub8ZC6d"
        pass_key: "bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919"
      paygops:
        name: "paygops"
        business_short_code: "174379"
        till: "9347335"
        auth_host: "https://sandbox.safaricom.co.ke/oauth/v1/generate"
        api_host: "https://sandbox.safaricom.co.ke"
        client_key: "0pLxbN83FrOl5Nd0Fh9Zi5BQlMxSL2n5"
        client_secret: "YzuGNoJxeub8ZC6d"
        pass_key: "bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919"
    LOGGING_LEVEL_ROOT: "INFO"
    ingress:
      annotations: 
        kubernetes.io/ingress.class: "kong"
        konghq.com/strip-path: "true"
      backend:
        service:
          name: ph-ee-connector-mpesa
          port:
            number: 80
    deployment:
      annotations:
        co.elastic.logs/enabled: "true"
        deployTime: "{{ .Values.deployTime }}"
    skip:
      enabled: true

  roster_connector:
    enabled: true
    SPRING_PROFILES_ACTIVE: "bb"
    image: "oaftech.azurecr.io/phee-ns/ph-ee-connector-ams-pesa"
    pesacore:
      base_url: "https://qaoperations01.oneacrefund.org"
      auth_header: "PaymentHubTest"
    LOGGING_LEVEL_ROOT: "INFO"
    ams:
      local:
        enabled: true
    deployment:
      annotations:
        co.elastic.logs/enabled: "true"
        deployTime: "{{ .Values.deployTime }}"

  paygops_connector:
    enabled: true
    SPRING_PROFILES_ACTIVE: "bb"
    image: "oaftech.azurecr.io/phee-ns/ph-ee-connector-ams-paygops"
    paygops:
      base_url: "https://feature-test1.paygops.com/"
      authheader: "PaymentHubTest"
    LOGGING_LEVEL_ROOT: "INFO"
    ams:
      local:
        enabled: true
    deployment:
      annotations:
        co.elastic.logs/enabled: "true"
        deployTime: "{{ .Values.deployTime }}"

  notifications:
    enabled: true
    SPRING_PROFILES_ACTIVE: "bb"
    image: "oaftech.azurecr.io/phee-ns/ph-ee-notifications"
    hostname: "paymenthub.qa.oneacrefund.org"
    zeebe_broker_contactpoint: "zeebe-zeebe-gateway:26500"
    MESSAGEGATEWAYCONFIG_HOST: "message-gateway"
    NOTIFICATION_LOCAL_HOST: "ph-ee-connector-notifications"
    NOTIFICATION_SUCCESS_ENABLED: "false"
    NOTIFICATION_FAILURE_ENABLED: "true"
    LOGGING_LEVEL_ROOT: "INFO"
    ingress:
      annotations: 
        kubernetes.io/ingress.class: "kong"
        konghq.com/strip-path: "true"
      backend:
        service:
          name: ph-ee-connector-notifications
          port:
            number: 80
    deployment:
      annotations:
        co.elastic.logs/enabled: "true"
        deployTime: "{{ .Values.deployTime }}"


  zeebe_ops:
    enabled: true
    image: "oaftech.azurecr.io/phee-ns/phee-zeebe-ops"
    hostname: "paymenthub.qa.oneacrefund.org"
    zeebe_broker_contactpoint: "zeebe-zeebe-gateway:26500"
    elasticsearch_contactpoint: "elasticsearch:9200"
    ingress:
      annotations: 
        kubernetes.io/ingress.class: "kong"
        konghq.com/strip-path: "true"
      backend:
        service:
          name: ph-ee-zeebe-ops
          port:
            number: 80
    deployment:
      annotations:
        co.elastic.logs/enabled: "true"
        deployTime: "{{ .Values.deployTime }}"

  messagegateway:
    enabled: true
    image: "oaftech.azurecr.io/phee-ns/message-gateway"
    secret:
      value:
        api_key: "eKiC1_JWdKy7eaTGQFHxXXjXjacr60W9Zntl"
        project_id: "PJ5ff552ce01d2978c"
    hostname: "paymenthub.qa.oneacrefund.org"
    CALLBACKCONFIG_HOST: "ph-ee-connector-notifications"
    HOSTCONFIG_HOST: "message-gateway"
    MYSQL_USERNAME: "mifos"
    MYSQL_PASSWORD: "password"
    DATASOURCE_URL: jdbc:mysql:thin://operationsmysql:3306/messagegateway
    PROVIDERSOURCE_FROMDATABASE: "disabled"
    PROVIDERSOURCE_FROMYML: "enabled"
    LOGGING_LEVEL_ROOT: "INFO"
    ingress:
      annotations: 
        kubernetes.io/ingress.class: "kong"
        konghq.com/strip-path: "true"
      backend:
        service:
          name: message-gateway
          port:
            number: 80
    deployment:
      annotations:
        co.elastic.logs/enabled: "true"


  importer_es:
    image: "oaftech.azurecr.io/phee-ns/ph-ee-importer-es"

  importer_rdbms:
    enabled: true
    image: "oaftech.azurecr.io/phee-ns/ph-ee-importer-rdbms"
    LOGGING_LEVEL_ROOT: "INFO"
    datasource:
      username: "mifos"
      password: "password"
      host: "operationsmysql"
      port: 3306
      schema: "tenants"
    deployment:
      annotations:
        co.elastic.logs/enabled: "true"
  
  wildcardhostname: "*.qa.oneacrefund.org"

  tls: "oafqa-tls"
